<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">



  <head>
    <meta property="og:title" content="Project Title" />
     <meta name="image" property="og:image" content="<%= image_url('mumblr_screen_shot.png') %>"/>
     <meta name="description" property="og:description"
       content="project inspired by tumblr"
     />
     <meta property="og:url"
       content="https://mumblr.herokuapp.com/#/login"
     />
    <link rel="apple-touch-icon" sizes="180x180" href="<%=image_url('apple-touch-icon.png')%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=image_url('favicon-32x32.png')%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=image_url('favicon-16x16.png')%>">
    <link rel="manifest" href="/site.webmanifest">

    <title>Mumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.default_avatar = "<%= image_url('default_avatar.png') %>"
      window.user_icon = "<%= image_url("user.svg") %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
